{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TODO | Sign Up</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Noto+Sans+JP:wght@500&family=Nunito+Sans&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body>
		<header class="container container-large">
			<nav class="main-navbar">
				<h2 class="logo">TODO</h2>
				<div class="navbar">
					<div>Hello 🙋🏽‍♂️</div>
				</div>
			</nav>
		</header>
		<section class="container container-medium">
			<div class="user-cred py-3 my-1">
				<div class="heading-main">
					<h3>Sign Up 👨🏽‍💼</h3>
					<div class="bottom-line"></div>
				</div>
				<form action="" method="post" class="conatiner-small">
					<!-- prettier-ignore -->
					{% csrf_token %} 

					{{form.username}}
					
					{{form.email}}
					
					{{form.password1}}

					{{form.password2}}

					<input type="submit" value="Sign Up" class="btn" />
				</form>

				{{form.errors}}

				<div class="option">
					<small>Already have an account?</small>
					<a href="{% url 'login' %}" class="btn">Login</a>
				</div>
			</div>
		</section>
	</body>
	<script>
		const password1 = document.querySelector("#id_password1");
		password1.placeholder = "Enter Password...";
		const password2 = document.querySelector("#id_password2");
		password2.placeholder = "Re-Enter Password...";
	</script>
	<script src="{% static 'js/main.js' %}"></script>
</html>
