.container {
	margin: 0 auto;
	overflow: hidden;
	padding: 0.15rem;
	&-large {
		width: 1280px;
	}
	&-medium {
		width: 960px;
	}
	&-small {
		width: 500px;
	}
}

.text-center {
	text-align: center;
}

.bottom-line {
	width: 3rem;
	height: 2px;
	margin: 3px auto;
	background-color: orangered;
}

.box {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn {
	border: 0.5px black solid;
	border-radius: 3px;
	background-color: transparent;
	color: black;
	padding: 4px 4px;
	transition: color, background-color 0.5s ease-in-out;
	font-family: $main-font;
	font-size: medium;
	cursor: pointer;
	&:hover {
		color: #f3f3f3;
		background-color: #333;
	}
}

a:hover,
button:hover {
	cursor: pointer;
}

// table defaults
table {
	border-collapse: collapse;
	td,
	th {
		border: 1px solid #333;
		text-align: left;
		padding: 0.5rem;
		border-collapse: collapse;
		cursor: pointer;
	}
	th {
		text-transform: uppercase;
	}
}

.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}
.py-4 {
	padding: 4rem 0;
}

.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 2rem 0;
}
.my-3 {
	margin: 3rem 0;
}
.my-4 {
	margin: 4rem 0;
}
