$main-background-color-1: #39b385;
$main-background-color-2: #9be15d;

$logo-font: "Goldman", cursive;
$heading-font: "Noto Sans JP", sans-serif;
$main-font: "Nunito Sans", sans-serif;

$heading-font-size: 1.3rem;
$logo-font-size: 3rem;

$table-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1),
	0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05),
	0px 30px 20px rgba(0, 0, 0, 0.05);
