$main-background-color-1: #39b385;
$main-background-color-2: #9be15d;

$logo-font: "Goldman", cursive;
$heading-font: "Noto Sans JP", sans-serif;
$main-font: "Nunito Sans", sans-serif;

$heading-font-size: 1.3rem;
$logo-font-size: 3rem;

$table-shadow: 6px 8px 30px -3px rgba(0, 0, 0, 0.54);
$table-delete-btn: #e63946;
$table-heading: #457b9d;
$table-row-even: #f1faee;
$table-row-odd: #a8dadc;
