// reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import "variables";
@import "utilities";

body {
	font-family: $main-font;
	background: rgb(164, 233, 249);
	background: linear-gradient(
		90deg,
		rgba(164, 233, 249, 1) 10%,
		rgba(197, 174, 242, 1) 100%
	);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
}
a {
	text-decoration: none;
}

// Logo
.logo {
	font-family: $logo-font;
	font-size: $logo-font-size;
}
.username {
	color: #ef233c;
	margin-right: 10px;
}

.main-navbar {
	display: flex;
	justify-content: space-between;
	justify-items: center;
	.navbar {
		display: flex;
		justify-content: space-between;
		justify-items: center;
		font-size: $heading-font-size;
		padding: 1rem 0;
	}
}

// USer input
.enter-task {
	label {
		font-size: large;
		font-weight: 800;
	}
	input#get-task {
		padding: 5px;
		border-radius: 5px;
		width: 20rem;
		&:focus {
			outline: none;
			border: 1px solid #ef233c;
		}
		&.btn {
			padding: 3.5px 3.5px;
		}
	}
	padding-bottom: 10px;
}

// Layout
#main-todo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
	padding: 3rem 5rem;

	#in-progress {
		grid-column: 1/3;
		border-radius: 5px;
		box-shadow: $table-shadow;
	}
	#pending {
		border-radius: 5px;
		box-shadow: $table-shadow;
	}
	#completed {
		border-radius: 5px;
		box-shadow: $table-shadow;
	}
}

.box-task {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box-tasks-data {
	height: 33vh;
	// width: 33rem;
	overflow-y: auto;
	display: inline-block;
	background-color: transparent;
	// Status Dropdown
	tbody {
		.drop-option {
			position: relative;
			padding-right: 3rem;
			ul {
				display: none;
				background-color: #fcbf49;
				li {
					list-style: none;
					display: inline-block;
					border-bottom: 1px dotted #333;
					button {
						width: 110px;
						padding: 5px 10px;
					}
					&,
					button:hover {
						cursor: pointer;
					}
				}
			}
			&:hover {
				cursor: pointer;
				ul {
					display: inline-block;
					position: absolute;
					li {
						display: block;
					}
				}
			}
		}
		// Style
		tr:nth-child(odd) {
			background-color: $table-row-odd;
		}
		tr:nth-child(even) {
			background-color: $table-row-even;
		}
	}
	thead {
		th {
			background-color: $table-heading;
		}
	}
}

// Table
.task-name {
	width: 20rem;
	&:hover {
		color: $table-delete-btn;
	}
}

// Update button
.status-update {
	font-family: $main-font;
	font-size: medium;
	border-style: none;
	background-color: transparent;
	transition: color 0.5s ease-in-out;
	padding: 3px 4px;
	&:hover {
		color: #f3f3f3;
	}
}

// Delete button
.task-delete {
	border-color: transparent;
	&:hover {
		background-color: #d62828;
	}
}

.heading-main {
	margin: 1rem 0;
}

// Login/SignUp Page

.user-cred {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		width: 100%;
		padding-bottom: 2rem;
	}
	.heading-main {
		font-size: 2rem;
	}
	input {
		width: 50%;
		padding: 10px;
		border-radius: 5px;
		&:focus {
			outline: none;
			border: 1px solid #ef233c;
		}
	}
	input.btn {
		background-color: #333;
		color: #fff;
		&:hover {
			background-color: #444;
		}
	}
}

.message-from-signup {
	background-color: #777;
	padding: 0.5rem;
}

.option {
	padding: 2rem;
}
